.total {
    padding: 20px;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
}

.header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance {
    font-size: 1.75em;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main_item {
    flex: 1;
    text-align: center;
    padding-top: 15px;
}

.main_item:first-child {
    border-right: 1px solid var(--border-color);
}

.money {
    font-size: 1.5em;
    line-height: 1.5;
}

.money_expenses {
    color: var(--negative-color);
}

.money_income {
    color: var(--positive-color);
}

 