@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --bg-color: #f9f9f9;
  --main-color: #fff;
  --border-color: #aaa;
  --footer-color: #ddd;
  --positive-color: olivedrab;
  --negative-color: tomato;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  text-align: center;
}

input,
button {
  font: inherit;
}

.container {
  margin: 0 auto;
  width: 400px;
}


h1,
h2,
h3 {
  line-height: 1.5;
}

h4 {
  text-transform: uppercase;
}

main {
  margin-top: 30px;
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 320px;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  body {
    display: none;
  }
}
